@charset "utf-8";

#wrap {
    margin          : 0 auto;
    background-color: blueviolet;
}

#header {
    display        : flex;
    flex-flow      : row wrap;
    justify-content: center;
    align-items    : center;
    width          : 100%;
    color          : #fff;
    text-align     : center;
}


#header .title {
    width      : 100%;
    font-size  : 1.9rem;
    font-weight: bold;

}

#header .clock {
    width      : 100%;
    font-size  : 1.3rem;
    font-weight: lighter;
}

.boxs {
    display      : flex;
    border-radius: 10px;

}

.box-do,
.box-done {

    width           : 50%;
    text-align      : center;
    color           : white;
    background-color: blueviolet;
    border          : 10px solid white;

}

.box-do>ul>li,
.box-done>ul>li {
    text-align: left;

}

#footer {
    display        : flex;
    justify-content: center;
    align-items    : center;
    width          : 100%;
    height         : 50px;
    margin-top     : 10px;
    color          : #fff;
    text-align     : center;
}