@charset "utf-8";

* {
    color: #fff;
}

#wrap {
    margin          : 0 auto;
    background-image: url(background.jpg);
}

#header {
    display        : flex;
    flex-flow      : row wrap;
    justify-content: center;
    align-items    : center;
    width          : 100%;
    text-align     : center;
}


#header .title {
    width      : 100%;
    font-size  : 1.9rem;
    font-weight: bold;

}

#header .clock {
    width      : 100%;
    font-size  : 1.3rem;
    font-weight: lighter;
}

main {
    height: 700px;
}

#footer {
    display        : flex;
    justify-content: center;
    align-items    : center;
    width          : 100%;
    height         : 50px;
    margin-top     : 10px;
    text-align     : center;
}

button {
    background-color: black;
}

.text {
    color: black;
}